/*-------------------------------------------
/* SETUP
/-------------------------------------------*/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/*-------------------------------------------
/* BASE STYLES
/-------------------------------------------*/
body {
  color: #2D2D2D;
  font-size: 18px;
  background: white;
  padding-top: 71px;
  font-family: "Lato", Verdana, Sans-Serif;
}

a {
	color: #2D2D2D;
	text-decoration: none;
	font-family: 'Lato', Verdana, Sans-Serif;
}

ul {
	margin: 0;
}

h1 {
	font-size: 46px;
	font-weight: 800;
	font-family: 'Merriweather', Serif;
}

h2 {
	font-size: 22px;
	margin-top: 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

h3 {
	font-size: 1.5em;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

/*-------------------------------------------
/*GLOBAL STYLES
/-------------------------------------------*/

/*HEADER-------------------------------------*/

.header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	background-opacity: .3;
	border-bottom: 1px solid #f2f2f2;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 1em;
	margin: 10px 0 0 20px;
	display: inline-block;
}

.logo h1 {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Merriweather', Serif;
	transition: color .1s ease-out;
}

.logo h1:hover {
	color: #00BAC6;
	cursor: pointer;
}

nav {
	float: right;
	margin-top: 26px;
	display: inline-block;
}

nav ul {
	padding-left: 0;
}

nav a:hover {
	border-bottom: 3px solid #00BAC6;
}

nav a.current {
	border-bottom: 3px solid #00BAC6;
}

.header li {
	margin: 0 20px;
	display: inline-block;
	list-style-type: none;
	font-family: 'Lato', Verdana, Sans-Serif;

}

/*FOOTER----------------------------------------*/

blockquote {
	margin: 0;
	margin: 0 auto;
	max-width: 750px;
}

.actual-quote {
	padding: 20px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	background-color: #f2f2f2;
	font-family: "Merriweather", Serif;
}

.bottom-bar {
	background-color: #272A32;
}

.bottom-bar p {
	margin: 0;
	padding: 20px;
	color: #f2f2f2;
	font-weight: 300;
	text-align: center;
}

.social {
	text-align: center;
	padding: 10px 20px 20px 20px;
}

.social a {
	color: #f2f2f2;
	padding: 0 10px;
	font-weight: 300;
	text-align: center;
}



/*-------------------------------------------
/*PAGES
/-------------------------------------------*/
 
/*INDEX.HTML-------------------------------*/

main {
	margin: 0;
}

.hero {
	width: 100%;
	margin-top: 0;
	height: 800px;
	padding: 40px;
	background-size: cover;
	background-color: #f2f2f2;
	box-shadow:inset -1px -1px 30px #30303A;
	background-image: url(../images/hero-drawing.jpg);
}

.hero .description {
	padding: 60px;
	margin: 0 auto;
	display: inline;
	background-color: #008FCC:
}

.hero h1 {
	margin-top: 50px;
	text-align: center;
}

.hero h2 {
	text-align: center;
}

.description h1 {
	/*text-shadow: 2px 2px #f2f2f2;	*/
}

.do .wrapper {
	margin: 0 auto;
}

.do {
	padding: 40px;
}

.do h2 {
	text-align: center;
}

.do h3 {
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	max-width: 1025px;
}

.do p {
	text-align: center;
}

.do .wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.thing {
	width: 25%;
	float: left;
	margin: 20px;
}

.thing-img {
	text-align: center;
}

.thing-container {
	margin: 0 auto;
}

/*PORTFOLIO.HTML--------------------------------*/

.project {
	margin-top: 20px auto;
	border-bottom: 1px solid #f2f2f2;
	transition: background-color .2s ease-out;
}

.project .wrapper {
	margin: 0 auto;
	max-width: 1025px;
}

.project img {
	float: left;
	width: 40%;
	margin: 40px;
}

.info {
	float: left;
	margin-top: 40px;
	max-width: 45%;
	display: inline-block;
}

.project:hover {
	background-color: #E5EFF1;
	cursor: pointer;
}



/*ABOUT.HTML--------------------------------*/

.hero-wrapper {
	margin: 20px auto;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}

.hero-wrapper img {
	max-width: 750px;
}

.resume-wrapper {
	margin: 0 auto;
	max-width: 1024px;
}

.resume {
	padding: 20px;
	max-width: 750px;
	margin: 0 auto;

}

.resume h3 {
	color: #A2A2A2;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.resume h4 {
	font-size: 21px;
	margin-bottom: 0;
	font-weight: 700;
	font-family: 'Merriweather', Verdana, Sans-Serif;

}

.resume h5 {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: 'Lato', Verdana, Sans-Serif;

}

.skillset-container p, .tools-container p {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	display: inline-block;
	background-color: #f2f2f2;
	font-family: 'Lato', Verdana, Sans-Serif;

}


/*PROCESS.HTML--------------------------------*/

.placeholder {
	height: 600px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	background-color: #E5EFF1;
}

.placeholder img {
	width: 200px;
}



/*PROJECT.HTML--------------------------------*/

/*subnav bar*/
.subnav-bar {
	background-color: #E5EFF1;
	height: 30px;

}

.wrapper {
	max-width: 1025px;
	margin: 0 auto;
}

.previous {
	float: left;
	width: 33.333%;
	text-align: left;
	padding-left: 20px;
	transition: color .2s ease-out;
}

.projects {
	float: left;
	width: 33.333%;
	text-align: center;
	transition: color .2s ease-out;
}

.next {
	float: left;
	width: 33.333%;
	text-align: right;
	padding-right: 10px;
	transition: color .2s ease-out;
}

.previous:hover {
	color: #C2C2C2;
}

.projects:hover {
	color: #C2C2C2;
}

.next:hover {
	color: #C2C2C2;
}

.subnav-bar .wrapper a {
	font-size: 14px;
	line-height: 2em;
	text-transform: uppercase;
}

/*section: project heading*/

.project-heading-container {
	padding: 0 20px;
	margin: 40px auto;
	max-width: 1025px;
	/*background-color: magenta;*/
}

.project-heading-container h3 {
	margin: 0 0 5px 0;
	text-transform: none;
	font-family: 'Merriweather', Serif;
}

.project-heading h4 {
	color: #A2A2A2;
	font-size: 16px;
	font-weight: 400;
	margin: 25px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.project-heading h5 {
	color: #CECECE;
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 10px 0;
	font-style: italic;
	font-family: "Merriweather", Serif;
}

.project-heading-container p {
	font-size: 16px;
	margin-top: 0;
}

.project-heading-container img {
	max-width: 80%;
	display: inline-block;
	text-align: center;
}

.project-heading .wrapper {
	border-top: 1px solid #f2f2f2;
}

.left-wrapper {
	width: 35%;
	float: left;
}

.right-wrapper {
	width: 50%;
	float: left;
	margin-left: 20px;
}

/*section: steps*/

.project-container {
	padding: 0 20px;
	margin: 40px auto;
	max-width: 1025px;
	border-top: 1px solid #f2f2f2;
	/*background-color: cyan;*/
}

.wrapper-step {
	display: inline-block;
}

.wrapper-step h2 {
	float: left;
/*	height: 40px;*/
	max-width: 35%;
	color: #CECECE;
	font-size: 40px;
	margin-top: 27px;
	margin-right: 40px;
	text-transform: uppercase;
}

.wrapper-content {
	float: left;
	max-width: 50%;
	display: inline-block;
}

.deliverable {
	padding: 20px;
	margin: 0 auto;
	/*background-color: yellow;*/
	max-width: 1025px;
}

.deliverable img {
	margin: auto;
	max-width: 90%;
	display: inline-block;
}

.project-container h3 {
	color: #A2A2A2;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}


/*-------------------------------------------
/* MEDIA QUERIES (LAYOUT)
/-------------------------------------------*/

@media screen and (max-width: 1024px) {
	


}

@media screen and (max-width: 800px) {
	
	/*INDEX.HTML-------------------------------*/
	.hero {
		height: 400px;
	}

	.thing {
		width: 100%;
		float: left;

	}



}












