/*-------------------------------------------
/* SETUP
/-------------------------------------------*/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/*-------------------------------------------
/* BASE STYLES
/-------------------------------------------*/
body {
  color: #2D2D2D;
  font-size: 18px;
  background: white;
  font-family: "Lato", Verdana, Sans-Serif;
}

a {
	color: #2D2D2D;
	text-decoration: none;
	font-family: 'Lato', Verdana, Sans-Serif;
}

ul {
	margin: 0;
}

h1 {
	font-size: 46px;
	font-weight: 800;
	font-family: 'Merriweather', Serif;
}

h2 {
	font-size: 22px;
	margin-top: 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

h3 {
	font-size: 1.5em;
	font-family: 'Lato', Verdana, Sans-Serif;
}

/*-------------------------------------------
/*GLOBAL STYLES
/-------------------------------------------*/

/*HEADER-------------------------------------*/

.header {
	/*background-color: #D4E5F5;	*/
/*	position: fixed;*/
	width: 100%;
/*	margin-top: 0;*/
	border-bottom: 1px solid #f2f2f2;
	/*transition: background-color 0.5s ease;*/
}

/*.header:hover {
	background-color: #D4E5F5;	
}*/

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 1em;
	margin: 10px 0 0 20px;
	display: inline-block;
}

.logo h1 {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Merriweather', Serif;
	transition: color .2s ease-out;
}

.logo h1:hover {
	color: #D4E5F5;
	cursor: pointer;
}

nav {
	float: right;
	margin-top: 26px;
	display: inline-block;
}

nav ul {
	padding-left: 0;
}

nav a:hover {
	border-bottom: 3px solid #D4E5F5;
}

nav a.current {
	border-bottom: 3px solid #D4E5F5;
}

.header li {
	margin: 0 20px;
	display: inline-block;
	list-style-type: none;
	font-family: 'Lato', Verdana, Sans-Serif;

}

.colors {
	display: inline;
}

.color-1, .color-2, .color-3 {
	float: left;
	height: 10px;
	width: 33.3333%;
	background-color: #0c1259;
}

.color-2 {
	background-color: #0c3f43;
}

.color-3 {
	background-color: #0c5838;
}


/*FOOTER----------------------------------------*/

blockquote {
	margin: 0;
	margin: 0 auto;
	max-width: 750px;
}

.actual-quote {
	padding: 20px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	background-color: #f2f2f2;
	font-family: "Merriweather", Serif;
}

.bottom-bar {
	background-color: #272A32;
}

.bottom-bar p {
	margin: 0;
	padding: 20px;
	color: #f2f2f2;
	font-weight: 300;
	text-align: center;
}

.social {
	text-align: center;
	padding: 10px 20px 20px 20px;
}

.social a {
	color: #f2f2f2;
	padding: 0 10px;
	font-weight: 300;
	text-align: center;
}



/*-------------------------------------------
/*PAGES
/-------------------------------------------*/
 
/*INDEX.HTML-------------------------------*/

main {
	margin: 0;
}

.hero {
	width: 100%;
	margin-top: 0;
	height: 800px;
	padding: 40px;
	background-size: cover;
	background-color: #f2f2f2;
	/*box-shadow:inset -1px -1px 30px #30303A;*/
	background-image: url(../images/code.jpg);
}

.hero .description {
	padding: 60px;
	margin: 0 auto;
	display: inline;
	background-color: #2D2D2D:
}

.hero h1 {
	margin: 0;
	text-align: center;
}

.hero h2 {
	text-align: center;
}

.do .wrapper {
	margin: 0 auto;
}

.do {
	padding: 40px;
}

.do ul {
	padding-left: 0;
	margin-top: 15px;
}

.do li {
	line-height: 1.5em;
}

.do h2 {
	text-align: center;
}

.do h3 {
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	max-width: 1025px;
}

.do p {
	text-align: center;
}

.do .wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.thing {
	width: 30%;
	float: left;
	margin: 20px;
}

.thing-img {
	text-align: center;
}

/*PORTFOLIO.HTML--------------------------------*/

.project {
	margin-top: 20px auto;
	border-bottom: 1px solid #f2f2f2;
	transition: background-color .2s ease-out;
}

.project .wrapper {
	margin: 0 auto;
	max-width: 1025px;
}

.project img {
	float: left;
	width: 40%;
	margin: 40px;
}

.info {
	float: left;
	margin-top: 40px;
	max-width: 45%;
	display: inline-block;
}

.project:hover {
	background-color: #D4E5F5;
	cursor: pointer;
}



/*ABOUT.HTML--------------------------------*/

.hero-wrapper {
	margin: 20px auto;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}

.hero-wrapper img {
	max-width: 750px;
}

.resume-wrapper {
	margin: 0 auto;
	max-width: 1024px;
}

.resume {
	padding: 20px;
	max-width: 750px;
	margin: 0 auto;

}

.resume h3 {
	color: #A2A2A2;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.resume h4 {
	font-size: 21px;
	margin-bottom: 0;
	font-weight: 700;
	font-family: 'Lato', Verdana, Sans-Serif;

}

.resume h5 {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: 'Lato', Verdana, Sans-Serif;

}

.skillset-container p, .tools-container p {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	display: inline-block;
	background-color: #f2f2f2;
	font-family: 'Lato', Verdana, Sans-Serif;

}


/*PROCESS.HTML--------------------------------*/

.process {
	padding: 40px;
	display: block;
	margin: 0 auto;
}



/*-------------------------------------------
/* LAYOUT
/-------------------------------------------*/

@media screen and (max-width: 800px) {
	
	/*INDEX.HTML-------------------------------*/
	.hero {
		height: 400px;
	}

}











