/*-------------------------------------------
/* SETUP
/-------------------------------------------*/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/*-------------------------------------------
/* BASE STYLES
/-------------------------------------------*/
body {
  color: #2D2D2D;
  font-size: 18px;
  background: white;
  padding-top: 71px;
  font-family: 'Lato', Verdana, Sans-Serif;
}

a {
	color: #2D2D2D;
	text-decoration: none;
	font-family: 'Lato', Verdana, Sans-Serif;
}

ul {
	margin: 0;
}

h1 {
	font-size: 46px;
	font-weight: 800;
	font-family: 'Merriweather', Serif;
}

h2 {
	margin-top: 0;
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

h3 {
	font-size: 1.5em;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

/*-------------------------------------------
/*GLOBAL STYLES
/-------------------------------------------*/

/*HEADER-------------------------------------*/

.header {
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #fff;
	background-opacity: .3;
	border-bottom: 1px solid #f2f2f2;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 1em;
	margin: 10px 0 0 20px;
	display: inline-block;
}

.logo h1 {
	font-size: 30px;
	font-weight: 800;
	transition: color .1s ease-out;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

.logo h1:hover {
	color: #00BAC6;
	cursor: pointer;
}

nav {
	float: right;
	margin-top: 26px;
	display: inline-block;
}

nav ul {
	padding-left: 0;
}

nav a:hover {
	border-bottom: 3px solid #00BAC6;
}

nav a.current {
	border-bottom: 3px solid #00BAC6;
}

.header li {
	margin: 0 20px;
	display: inline-block;
	list-style-type: none;
	font-family: 'Lato', Verdana, Sans-Serif;

}

/*FOOTER----------------------------------------*/

blockquote {
	margin: 0;
	margin: 0 auto;
	max-width: 750px;
}

.actual-quote {
	padding: 20px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	background-color: #f2f2f2;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

.bottom-bar {
	background-color: #00314F;
}

.bottom-bar p {
	margin: 0;
	padding: 20px;
	color: #f2f2f2;
	font-weight: 300;
	text-align: center;
}

.social {
	text-align: center;
	padding: 10px 20px 20px 20px;
}

.social a {
	color: #f2f2f2;
	padding: 0 10px;
	font-weight: 300;
	text-align: center;
}



/*-------------------------------------------
/*PAGES
/-------------------------------------------*/
 
/*INDEX.HTML-------------------------------*/

main {
	margin: 0;
}

.hero {
	width: 100%;
	margin-top: 0;
	height: 800px;
	padding: 40px;
	background-size: cover;
	background-color: #f2f2f2;
	box-shadow:inset -1px -1px 30px #30303A;
	background-image: url(../images/hero-drawing.jpg);
}

.description {
	height: 160px;
	max-width: 350px;
	margin: 100px auto;
	border: 1px solid #f2f2f2;
	background-color: rgba(255, 255, 255, .7);
}

.hero h1 {
	margin: 0;
	color: #114C6F;
	padding-top: 30px;
	text-align: center;
}

.hero h2 {
	margin: 0;
	color: #114C6F;
	text-align: center;
}

.do .wrapper {
	margin: 0 auto;
}

.do {
	padding: 40px;
}

.do h2 {
	text-align: center;
}

.do h3 {
	margin-top: 0;
	padding-top: 20px;
}

.do .wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.thing {
	float: left;
	padding: 20px;
	width: 33.333%;
	text-align: center;
}

.thing-img {
	text-align: center;
}

.thing-container {
	margin: 0 auto;
}

/*PORTFOLIO.HTML--------------------------------*/

.password-bar {
	top: 71px;
    width: 100%;
    height: 40px;
    color: #00BAC7;
    position: fixed;
    line-height: 2em;
    background-color: #114C6F;
}

.password-bar p {
	margin: 0;
	text-align: center;
}

.password-bar a {
	color: #fff;
	text-decoration: underline;
}


.main-wrapper {
	margin: 60px 0 100px;
}

.project-page-container {
	padding-top: 60px;
}

.project {
	margin-top: 20px auto;
	border-bottom: 1px solid #f2f2f2;
	transition: background-color .2s ease-out;
}

.project .wrapper {
	margin: 0 auto;
	max-width: 1025px;
}

.project img {
	width: 40%;
	float: left;
	margin: 40px;
}

.info {
	float: left;
	max-width: 45%;
	margin-top: 40px;
	display: inline-block;
	transition: color .3s ease-out;
}

.project:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.project:active {
	background-color: #f2f2f2;
}

.project-container h4 {
	font-size: 22px;
}


/*ABOUT.HTML--------------------------------*/

.left-column {
	max-width: 63%;
	float: left;
	margin-right: 5%;
}

.right-column {
	max-width: 32%;
	float: left;
}

.hero-wrapper {
	max-width: 1025px;
	margin: 60px auto;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}

.hero-wrapper img {
	max-width: 90%;
}

.download {
	margin: 0 auto;
	max-width: 1025px;
}

.button {
	width: 200px;
	padding: 10px;
	color: #00BCC8;
	font-size: 16px;
	margin-left: 20px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #00BCC8;
	transition: all .1s ease-out;
	background-color: #fff;
}

.button:hover {
	cursor: pointer;
	background-color: rgba(0, 188, 200, .1);
}

.button:active {
	background-color: rgba(0, 188, 200, .1);
}

.resume-wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 1025px;
}

.resume {
	margin: 0 auto;
	margin-bottom: 100px;
}

.resume h3 {
	color: #CECECE;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.resume h4 {
	font-size: 21px;
	margin-bottom: 0;
	font-weight: 700;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

.resume h5 {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.skillset-container p, .tools-container p {
	font-size: 16px;
	font-weight: 400;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	display: inline-block;
	background-color: #f2f2f2;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.education-container p {
	margin-top: 5px;
}


/*PROCESS.HTML--------------------------------*/

.placeholder {
	color: #fff;
	height: 1000px;
	font-size: 30px;
	text-align: center;
	background-color: #E5EFF1;
}

.placeholder img {
	width: 200px;
}



/*PROJECT.HTML--------------------------------*/

/*subnav bar*/
.subnav-bar {
	top: 71px;
	width: 100%;
	height: 40px;
	line-height: 1.5em;
	position: fixed;
	background-color: #E5EFF1;
	background-color: #00BAC7;
}

.wrapper {
	margin: 0 auto;
	max-width: 1025px;
}

.previous {
	float: left;
	color: #114C6F;
	width: 33.333%;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	transition: color .2s ease-out;
}

.projects {
	float: left;
	color: #114C6F;
	width: 33.333%;
	padding-top: 5px;
	text-align: center;
	transition: color .2s ease-out;
}

.next {
	float: left;
	color: #114C6F;
	width: 33.333%;
	padding-top: 5px;
	text-align: right;
	padding-right: 10px;
	transition: color .2s ease-in-out;
}

.previous:hover {
	color: #fff;
}

.projects:hover {
	color: #fff;
}

.next:hover {
	color: #fff;
}

.subnav-bar .wrapper a {
	font-size: 18px;
	line-height: 1.5em;
}

/*section: project heading*/

.project-heading .container {
	padding: 0 20px;
	margin: 40px auto;
	max-width: 1025px;
}

.project-heading .img-wrapper {
	text-align: center;
}

.project-heading img {
	max-width: 100%;
}

.project-heading h3 {
	margin-bottom: 0;
}

.project-heading h3 span {
	color: #CECECE;
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 10px 0;
	font-family: 'Merriweather', Verdana, Sans-Serif;
}

.project-heading h4 {
	color: #CECECE;
	font-size: 16px;
	font-weight: 400;
	margin: 30px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}

.project-heading p {
	margin: 0;
	font-size: 18px;
}

.project-heading ol {
	padding-left: 20px;
}

.project-heading li {
	padding-left: 10px;
}

.project-heading .wrapper {
	padding: 0 20px 30px;
	border-bottom: 1px solid #f2f2f2;
}

.left-wrapper {
	float: left;
	width: 200px;
}

.right-wrapper {
	width: 75%;
	float: left;
}

/*section: steps*/

.project-container {
	padding: 0 20px;
	margin: 40px auto;
	max-width: 1025px;
	border-top: 1px solid #f2f2f2;
}

.wrapper-content {
	max-width: 100%;
}

.deliverable {
	margin: 0 auto;
	max-width: 1025px;
	text-align: center;
}

.deliverable img {
	max-width: 100%;
}

.project-container h3 {
	color: #CECECE;
	font-size: 16px;
	font-weight: 400;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-family: 'Lato', Verdana, Sans-Serif;
}


/*-------------------------------------------
/* MEDIA QUERIES (LAYOUT)
/-------------------------------------------*/

@media screen and (max-width: 2500px) {
	
	.mobile-menu {
		display: none;
		
	}

}

@media screen and (max-width: 800px) {
	
/*INDEX.HTML*/

	.hero {
		height: 400px;
	}

	.thing {
		width: 100%;
		float: left;
	}

/*ABOUT.HTML*/

	.left-column {
		max-width: 100%;
		float: none;
		margin-right: 5%;
	}

	.right-column {
		max-width: 100%;
		float: none;
	}

	.button {
		width: 90%;
	}

}

@media screen and (max-width: 854px) {
	
/*INDEX.HTML*/

	.right-wrapper {
		width: 100%;
	}

}


@media screen and (max-width: 600px) {

/*PORTFOLIO.HTML*/

	.project .wrapper img {
		width: 100%;
		margin: 0;
		padding: 10px;
	}

	.info {
		max-width: 100%;
		padding: 20px;
		margin-top: 0;
		transition: color .2s ease-out;
	}

	.info:hover {
		color: #919392;
	}

	.info h3 {
		margin: 0;
	}

	.project:hover {
		cursor: pointer;
		background-color: #fff;
	}

	.project:active {
		background-color: #f2f2f2;
	}


}


@media screen and (max-width: 480px) {
	
	nav {
		display: none;
	}

	.mobile-menu {
		display: inline-block;	
		margin-top: 10px;
		margin-right: 20px;
		margin-top: 20px;
		float: right;
	}

	.mobile-menu .wrapper {
		display: inline-block;
		float: right;
	}

	.line {
		height: 4px;
		width: 37px;
		margin: 6px;
		border-radius: 5px;
		background-color: #00BAC9;
	}

/*	.mobile-menu p {
		color: magenta;
		text-align: right;
	}*/

	.mobile-menu:hover {
		cursor: pointer;
	}

/*ALL PROJECT-#.HTML*/

	.right-wrapper {
		width: 100%;
	}








}

















